@charset "UTF-8";

*{
    box-sizing: border-box;
}
body{
    padding: 0px;
    margin: 0px;
    text-align: center;
}
#quiz{
    margin-top: 5%;
}
button{
    display: block;
    width: 300px;
    padding: 10px;

}
.resposta{
    margin: auto auto;
    margin-bottom: 1%;
    cursor: pointer;
}
.resposta:hover{
    background-color: yellow;
}
.resposta.selecionada{
    background-color: rgba(139, 139, 231, 0.973);

}
#confirm{
    margin: auto auto;
    background-color: rgb(73, 173, 73);
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;


}
#confirm:hover{
    background-color: green;
}
.errada{
    background-color: red;
    color: white;
}
.correta{
    background-color: green;
    color: white;
    animation: piscaCerto 0.5s infinite;
}
@keyframes piscaCerto{
    0%,
    49%{
        background: green;
    }
    50%,
    100%{
        background: rgb(122, 230, 122);
    }
}
#status{
    padding: 10%;
}
#novoJogo{
    background-color: black;
    color: white;
    margin: auto auto;
    cursor: pointer;
}
.oculto{
    display: none;
}